{% extends "base/index_base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container">
    <h2>{{data["title"]}}</h2>
    {% for line,stations in data["stations"].items() %}
        <h3>{{line}}</h3>
        {% for st in stations%}
            {% if (loop.index-1) %5==0 %}
                <div class="row">
            {% endif %}
                <div class="col-md-2">
                    <a href="{{url_for('main.view_station',username=data.username,station=st,line=line)}}"><h6>{{st}}</h6></a>
                </div>
            {% if (loop.index)%5==0 or loop.last%}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}